*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* google font's */
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap') */

.hero{
    height: 100dvh;
    width: 100%;
    position: relative;
    overflow: hidden;
}
/* header start */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    background-color: black;
    color: white;
}
.logo a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}
.mybtn{
    display: none;
}
.menu nav a{
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 0 10px;
}
.active{
    transform: translateX(0)!important;
    transition: 1s ease!important;
}