*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-smooth: always;
}
.hero{
    height: 100dvh;
    width: 100%;
    position: relative;
    overflow: hidden;
}
/* header start */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 130px;
    background-color: rgb(232, 242, 251);
    color: black;
}
.logo a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}
.mybtn{
    display: none;
}
.menu nav a{
    color: black;
    font-size: 17px;
    text-decoration: none;
    padding: 0 10px;
    font-weight: normal;
    letter-spacing: 1px;
    transition: 5s ease-in-out;
    position: relative;
}
.menu nav a::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: black;
    width: 0%;
    height: 2px;
}
.menu nav a:hover::after{
    width: 100%;
    transition: all ease 1s;
}
.active{
    transform: translateX(0)!important;
    transition: all ease 1s!important;
}
/* header end */
/* Hero content start*/
.hero-content{
    height: 90vh;
}
.container{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}
.container-left{
    width: 50%;
}
.container-left p{
    font-size: 15px;
    margin: 5px 0;
    line-height: 28px;
    letter-spacing: 0.5px;
}
.container-left h2,h3{
    font-size: 2rem;
    font-weight: normal;
    text-transform: capitalize;
    margin-bottom: 14px;
    letter-spacing: .5px;
}
.container-left button{
    background-color: rgb(232, 242, 251);
    color: black;
    outline: none;
    border: none;
    font-size: 1rem;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 7px;
    box-shadow: 5px 5px 0 black;
    letter-spacing: 2px;
    cursor: pointer;
}
.container-right{
    width: 50%;
    text-align: center;
}
.container-right img {
    height: 300px;
    width:300px;
    border-radius: 50%;
    object-fit: cover;
    vertical-align: middle;
    border: 15px solid  rgb(232, 242, 251);
    margin: 0 auto;
}