@media screen and (max-width:992px) {
    body{position: relative}
    .navbar{justify-content: space-between; padding: 20px 20px;margin: 0 10px;position: unset;}
    .navigation{
        height: 400px;
        width: 80%;
        position: absolute;
        top: 100%;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto;
        display: none;
        justify-content: space-around;
        background-color: white;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        transition: left 0.3s ease; /* Smooth transition */
    }
    .navitems{
        padding: 30px 10px;
        flex-direction: column;
        display: flex;
        justify-content: space-around;
    }
    #list{color: black!important}
    .closeIcon{
        padding: 30px 10px;
        margin-top: 20px;
        color: black;
        cursor: pointer;
        display: block;
    }
    .startIcon{display: block;cursor: pointer;}
    .hero{position: relative;padding: 4rem 0rem;height: auto;}
    .hero-content{flex-direction: column; padding: 0 10px;}
    .hero-info{margin-top: 20px;padding: 20px;width: 100%;}
    .hero-img{padding: 0 20px;position: relative;width: 100%;}
    .hero-img img{
        width: 100%;
        object-fit: cover;
        height: 100%;
    }
    .scroll-down{margin-top: 10px}
    .about-container{
        padding: 0 10px;
        width: 100%;
        flex-direction: column-reverse;
    }
    /* About section start................
    ..................................... */
    .about-img{width: 100%;text-align: center}
    .about-img img{
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
    .about-content{width: 100%;padding: 20px}
    /* About section end................
    ..................................... */
    .skill-container{width: 100%;flex-direction: column;padding: 10px;}
    .skills{width: 100%;margin: 30px 0}
    .skill-content{padding: 10px 10px;width: 100%}
    .skill-content P{width: 100%;}
}